*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
}

#main {
}

.nav-link a {
    font-size: 16pt;
    color: black;
    text-decoration: none;
}

#nav-bar { /* If having trouble positioning img, change nav-bar to header. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

 #nav-bar li {
    display: inline-block;
    font-family: 'Literata', serif;
    margin-right: 8rem;
    font-weight: 400;
}

ul {
    list-style: none;
    margin-right: -2rem;
}

#header-img {
    width: 10%;
    vertical-align: -5px;
    height: auto;
}

#logo {
    margin-left: 40px;
}

header span { /* LOGO TEXT ( Original Trombones ) */
    margin-left: 13px;
    font-weight: 500;
    font-family: 'Literata', serif;
    font-size: 22pt;
}

#section-1 {
    text-align: center;
    margin-top: 20px;
}

#form {
    margin-top: 2rem;
}

#description {
    font-size: 20pt;
    font-weight: 400;
    font-family: 'Literata', serif;
}

#email {
    border: 1px solid rgb(145, 145, 145);
    background-color: white;
    width: 300px;
    padding: 5px 3px 3px 9px;
    height: 32px;
    font-size: 10pt;
}

#submit {
    border: 0;
    background-color: rgb(247, 191, 89);
    font-family: 'Literata', serif;
    padding: 4px 9px 6px 9px;
    margin-top: 20px;
    font-size: 15pt;
    font-weight: bold;
    width: 165px;
}

.section-2-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

#section-2 {
    text-align: center;
    margin-top: 75px;
}

#section-2-img-2 { /* SECTION 2 IMG 2 ABSOLUTE ELEMENT */
    width: 25%;
    height: auto;
    vertical-align: -50px;
    margin-right: 300px;
}

.section-2-div {
    display: flex;
}

#section-2 .section-2-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

#section-2 .section-2-desc-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: -250px;
}

#section-2 .section-2-desc-div span {
    font-size: 23pt;
    font-weight: bold;
}

#section-2 .section-2-desc-div h6 {
    font-size: 12.5pt;
    font-weight: 400;
}

/* I need to utilize CSS flexbox at least once, so learn it before continuing. */

/* I need at least one media query. */