*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#main {
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #be3144;
    box-shadow: inset 0px 5px 10px 0px rgba(70, 70, 70, 0.5);
    border-bottom: 2px solid #333436;
}

#navbar ul {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

#nav-list a {
    display: block;
    color: rgb(243, 243, 243);
    padding: 21px;
    font-size: 17pt;
    text-decoration: none;
}

#nav-list li:hover {
    background-color: #45567d;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
}

#welcome-section h1 {
    color: rgb(243, 243, 243);
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

#welcome-section p {
    margin-top: 9px;
    color: #be3144;
    font-style: italic;
    font-size: 30px;
}

#projects {
    display: flex;
    flex-direction: column;
    background-color: #45567d;
    height: auto;
    padding: 0 2rem 7rem 2rem;
}

#projects h1 {
    margin: 0 auto 0 auto;
    padding: 6rem 15px 5px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    border-bottom: 2px solid rgb(243, 243, 243);
    color: rgb(243, 243, 243);
}

#project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
    width: 100%;
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
    padding: 75px 0 0 0;
}

.project-tile {
    background-color: #333436;
    color: rgb(243, 243, 243);
    text-decoration: none;
    font-size: 23px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: color .25s ease-in-out;
}

.project-tile span {
    color: #333436;
    transition: color 0.3s ease-out;
}

.project-tile:hover span {
    color: #dd3d53;
    transition: color 0.3s ease-out;
}

.project-tile p {
    padding: 7px 10px 7px 10px;
    margin-bottom: 10px;
}

.project-img {
    width: 100%;
    height: 24rem;
    object-fit: cover;
}

#btn-div {
    display: flex;
    text-align: center;
    margin: 100px auto 0 auto;
}

#showall-btn {
    display: inline-block;
    background-color: #333436;
    width: 150px;
    height: 50px;
    padding: 9px 2px 0 10px;
    color: rgb(243, 243, 243);
    text-decoration: none;
    font-size: 21px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#showall-btn:hover {
    background-color: #be3144;
    transition: all 0.3s ease;
}

#showall-btn i {
    margin-left: 5px;
    transition: transform 0.3s ease-out;
}

#showall-btn:hover > i {
    transform: translateX(2px);
    transition: transform 0.3s ease-out;
}

#third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333436;
    width: 100%;
    height: 80vh;
    color: rgb(243, 243, 243);
    font-family: 'Raleway', sans-serif;
}

#third-section h1 {
    font-weight: bolder;
    font-size: 60px;
}

#third-section p {
    margin-top: 11px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

#contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    flex-wrap: wrap;
    margin-top: 50px;
}

#contact-links a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

#contact-links a:hover {
    transform: translateY(10px);
    transition: transform 0.3s ease-out;
}

.contact-icon {
    font-size: 25px;
    margin-right: 10px;
}

#footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    border-top: 2px solid #be3144;
    background-color: #333436;
}

#footer-div p {
    color: rgb(243, 243, 243);
}

#footer-div span {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (max-width: 660px) {
    #projects h1 {
        text-align: center;
    }
}
